{% extends "layout.html" %}
{% block body %}
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Book</a>
    <form class="form-inline" method="post" action="{{url_for('search_book')}}">
      <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a class="navbar" href="/logout"><button class="btn btn-outline-success my-2 my-sm-0">Logout</button></a>
  </nav>
<div class="jumbotron text-center">
    <h1>Welcome to book reviews</h1>
    <p>Lets see what we have</p>
</div> 
<div class="login_error">
    {{message}}
</div>
{% if not book == [] %}
<div class="row">
    <div class="col-sm-4">
    <div class="card text-center" style="max-width: 400px; margin: 2%; padding: 5px;">
        <div class="card-header" style="color: skyblue">
            {%for data in book%}
                <h4>{{data.title}}</h4> 
                Rating: {{rating}}
            {%endfor%}
        </div>
        <div class="card-body"> 
            <form action="{{ url_for('submit_review')}}" method="post">
                <label for="customRange2"><h4>{{book.author}}</h4></label>
                <h6 style="font-family: sans-serif;"><p style="margin: 2px ; padding: 2px;">Worst....  Moderate....  Best</p></h6> 
                <input type="range" name="rating" class="custom-range" min="1" max="5" id="customRange2">
                <div class="form-group">
                        <input class="form-control" name="review" placeholder="Review">
                </div>
                <div class="login_error">
                    {{message}}
                </div>
                <button type="submit" class="btn btn-outline-primary">Submit Review</button>
                {{message}}
            </form>
        </div>
    </div>
    </div>
    <div class="col-sm-6">
        <h5>
            {%for data in book%}
            <p style="background-color: blanchedalmond;">
                {{user}}
            </p>
            {%endfor%}
            <ul style="background-color: burlywood;">
            {% for review in reviews%}
                    <li>{{review.review}}</li>
            {%endfor%}
            </ul>
        </h5>
    </div>    
{%endif%}  
{% endblock %}